
h1 {
  text-align: center;
}
.container {
  display: flex;
  background-color: LightGray;
}


body {
  background-color: LightGray;
}
img {
  display: block;
  margin: auto;
}



h2 {
  text-align: center;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container div {
  background-color:#808080;
  height:100px
   width: 100px;
  margin: 50px;
  padding: 20px;
  font-size: 24px;
  padding: 10px;
header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


